*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0px;
    font-family: "Poppins";
}

body
{
    /*font-size: 1rem;*/
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    /*text-align: left;*/
    /*transition: .3s ease;*/
}

input
{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.navbar
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 10px;
    height: 70px;
    background: linear-gradient(to right, #23DBF9 0%, #FF64BD 100%) left bottom black no-repeat;
    background-size: 100% 5px;
    background-position-x: 0px;
}

.navbar>div
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	max-width: 976px;
	margin: auto;
    justify-content: space-between;
}

.nav-left
{
	width: 336px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.nav-left a
{
	display: inline-block;
}

.navbar-logo
{
	height: 38px;
	border: 0px;
	vertical-align: middle;
}

.nav-left form
{
	display: block;
	height: 36px;
	align-items: center;
}

.search-input
{
	position: relative;
    display: flex;
    align-items: center;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.search-icon
{
	position: absolute;
    z-index: 2;
    left: 15px;
    color: #9C9C9C;
    pointer-events: none;
}

.search-icon::after
{
	content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    top: 10%;
    left: 25px;
    background: #e3e3e3;
}

.global-search
{
    border-radius: 26px;
    border: 0;
    line-height: 24px;
    width: 100%;
    max-width: 250px;
    padding: 6px 20px 6px 45px;
    background-color: #393939;
    font-size: .8rem;
    font-weight: bold;
    transition: background-color .2s ease;
    outline-offset: -2px;
    -webkit-appearance: none;
    overflow: visible;
    font-family: "Poppins";
    color: grey;
}

.global-search:hover
{
	background: #4e4e4e;
}

.global-search:focus
{
	background: white;
	outline: none;
}

/*switcher*/

.nav-right
{
    /*width: 379px;*/
    display: flex;
    align-items: center;
}

.checkbox
{
    position: relative;
    height: 23px;
    width: 42px;
    margin: 0px 15px;
}

.wrapper
{
    position: absolute;
}

input[type="checkbox"]
{
    width: 42px;
    height: 22.4px;
    background-color: #ccc;
    -webkit-appearance: none;
    margin: 0 auto;
    border-radius: 20px;
}

input[type="checkbox"]:checked
{
    background-color: #3ccdf2;
    transition: 1s ease;
}

input[type="checkbox"]:before
{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: linear-gradient(225deg, #23DBF9 -30%, #FF64BD 95%);
    border-radius: 50%;
    transition: .4s ease;
    z-index: 2;
}

input[type="checkbox"]:checked:before
{
    transform: translate(20px);
    transition: .4s ease;
    background: white;
}

.vertical-line
{
    height: 21px;
    border: 1px solid #444;
}

.upload-button
{
    width: 90px;
    height: 27px;
    margin: 0 15px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    background: linear-gradient(to right, #23DBF9 0%, #FF64BD 100%);
    text-shadow: 0px 0px 20px #000;
    font-size: 11px;
    letter-spacing: 1.2px;
}

.upload-button:hover
{
    background: #23DBF9;
    /*transition: 0.6s;*/
    cursor: pointer;
}

.user
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    cursor: pointer;
}

.user img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.join
{
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0);
    
    transition: background-color .3s ease;
    border-radius: 20px;
    width: 101px;
    height: 32px;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.8px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: rgba(255,255,255,0);
    color: #fff;
    transition: background-color .3s ease
}

.join:hover
{
    background-color: #fff;
    color: #000;
}




/*main*/
.main
{
    padding-top: 70px;
    /*max-width: 976px;*/
    margin: auto;
}

.menu
{
    max-width: 976px;
    margin: auto;
}

.nav-links
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0 15px;
    list-style: none;
}

.nav-links li
{
    margin: 10px;
}

.nav-links a
{
    color: #9C9C9C;
    transition: color .2s ease;
    font-weight: bold;
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 14px;
}




/*banner*/

.banner
{
/*    align-items: center;
    widows: 976px;
    height: 340px;
    width: 100%;
    height: 70vh;*/
}

.galaxy
{

}

.banner>h1
{
    font-size: 3rem;
}

.banner>h2
{
    font-size: 1.4rem;
}


.logged_user
{
    margin: 0 15px;
    color: white;
}

/*container*/

.container
{
    /*height: 500px;*/
    border-radius: 34px;
    /*background: #E6E6E6;*/
    padding: 20px;
    max-width: 976px;
    margin: auto;
}

.pstik-text
{
    height: 55px;
    text-align: center;
    padding: 15px;
    color: #959595;
    font-size: 14px;
}

.news
{
    /*height: 250px;*/
    border-radius: 34px;
    /*background: white;*/
    padding: 30px;
    margin-bottom: 20px;
    max-width: 976px;
    /*display: flex;*/
}

.featured-image
{
    max-width: 300px;
    border-radius: 15px;
}

.news-div
{
    display: flex;
}

.news-container
{
    /*width: 100%;
    margin-left: 30px;*/
    padding: 10px;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-title
{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 22px;
    /*font-family: Arial;*/
}



.news-content
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;
}

.news-info
{
    font-size: 14px;
    font-family: Arial !important;
    opacity: 0;
    transition: .1s ease;
    display: flex;
    
}

.news:hover .news-info
{
    transition: 0.1s ease;
    opacity: 1;
}

.news-input-user, .news-input-date
{
    border: 1px solid;
    border-radius: 5px;
}

.news-input-user
{
    width: 150px;
}

.news-input-submit
{
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.news-input-submit:hover
{
    color: green;
}

.news-category
{
    border: 1px solid;
    border-radius: 10px;
}
